/* 
***** Style Guide *****
- appropriate for the context
- memorable
- simple - works at any scale (business card to the side of a building) 
*/

/* *
Need :
100x30 nav logo/
/* 

***** Color Palette ******
Orange: #F27649
Dark Orange: #D2430F
Light Blue: 
Blue: #4279A9
Dark Blue: #426CB4
light Grey: #dae1e7
Dark Grey: #555555
White: #ffffff 
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans|Roboto&display=swap');
@font-face {
    font-family: 'Bebas Neue';
    src:
        local('Bebas Neue'),
        local('BebasNeue-Regular'),
        url('fonts/bebas_neue/BebasNeue-Regular.ttf');
    }
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size:  16px;
    line-height: 25px;
    background-color: white /*#f8f8f8 */; 
    margin: 0 auto;
    text-align: center;
    color: #5f767e;
}

h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f27649;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}
h2 {
    font-weight: 700;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #426CB4;
    font-family: 'Montserrat', 'Bebas Neue', sans-serif;
    margin: 0;
}
blockquote {
    font-family: 'Open Sans',  sans-serif;
}
h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #426CB4;
}
h4 {
    font-weight: 700;
    font-size: 1.1rem;
    color: #426CB4;
}

a {
    text-decoration: none;
    color: #426CB4;
    cursor: pointer;
}
p {
    text-align: left;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    width:  100%;
    margin: 0 auto;
    height: 50px;

}
nav div a {
    padding: 0 1vw;
}
section {
    width: 90%;
}
header nav a {
    padding: 0 1rem;
}
footer {
    background-color: #f1f5f8;
    max-width: 100%;
}
body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.about {
    margin: 0 auto;
    padding: 2vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}
.divider {
    padding-top: 1vh;
    color: #f27649;
    font-weight: bold;
}
.hero {
    height: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.offers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.offers div p {
    text-align: center;
}
.offers div img {
    max-width: 300px;
    width: 100%;
}
.footer-icons li,
.footer-links ul li
  {
    display: inline;
}
ul
{
    list-style: none;
    padding: 0;
}
/* 
content:"\f16d"; // instagram
content:"\f0e1"; // linkedin
content:"\f099"; // twitter 
*/